body {
    background-image: url('https://img.freepik.com/foto-gratis/bar-copas-difuso_1203-472.jpg?w=900&t=st=1661188846~exp=1661189446~hmac=461f03fa14b6f4842ec189d134e20f948cbadf6b5136f352574948aadd6d14cf');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}