* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/img/280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
    opacity: 0.9;
}