html,body {
    background-image: url('https://img.freepik.com/fotos-premium/primer-plano-hamburguesa-casera-carne-res-tomate-lechuga-queso-cebolla-mesa-madera_96727-1158.jpg?w=740');
    background-size: cover;
    height: 95%;
    font-family: 'Numans', sans-serif;
   
}
