* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://previews.123rf.com/images/vasiliybudarin/vasiliybudarin1902/vasiliybudarin190200047/117517269-sabrosa-pizza-de-pepperoni-con-albahaca-sobre-fondo-de-hormig%C3%B3n-marr%C3%B3n-vista-superior-de-la-pizza-de.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}