@import url('https://fonts.googleapis.com/css?family=Numans');
.card {
    height: 100px;
    width: 600px;
    background-color: #fa3b0b !important;
}

form input[type="submit"] {
    width: 100%;
    padding: 8px 16px;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: rgb(172, 168, 170);
}