@import url('https://fonts.googleapis.com/css?family=Numans');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://previews.123rf.com/images/vasiliybudarin/vasiliybudarin1902/vasiliybudarin190200047/117517269-sabrosa-pizza-de-pepperoni-con-albahaca-sobre-fondo-de-hormig%C3%B3n-marr%C3%B3n-vista-superior-de-la-pizza-de.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.container {
    height: 35%;
    align-content: center;
}

.card {
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    background-color: #539ae5 !important;
}

form input[type="submit"] {
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: rgb(77, 25, 221);
}